@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #181818; 
    color: #A9A9A9; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background: #202020; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: #1F1F1F; 
    padding: 15px 0;
    border-bottom: 3px solid #39483A; 
}

nav h1 {
    margin: 0;
    color: #7BA05B; 
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.status-boxes-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between boxes */
    margin-top: 50px; 
}

/* Specific styles for Cost and Usage boxes */
.cost-box, .usage-box {
    height: 250px;  /* Adjust this value based on your preference */
    overflow: auto;  /* In case the content exceeds the box height, it will be scrollable */
    border-color: #39483A;  /* Default border for cost and usage boxes */
}

.cost-box h2, .usage-box h2 {
    color: #39483A; /* Default color for the text inside cost and usage boxes */
}

/* Default API Status Box Styling */
.api-status-box {
    width: 25%;
    margin: auto;
    padding: 30px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background: #202020;
    text-align: center;
    border: 4px solid transparent; /* Default border */
}

/* Status-specific styles */
.api-status-box.green {
    border-color: #7BA05B;  /* Green border */
}
.api-status-box.green h2 {
    color: #7BA05B; /* Green color */
}

.api-status-box.yellow {
    border-color: #FBC02D;  /* Yellow border */
}
.api-status-box.yellow h2 {
    color: #FBC02D; /* Yellow color */
}

.api-status-box.red {
    border-color: #D32F2F;  /* Red border */
}
.api-status-box.red h2 {
    color: #D32F2F; /* Red color */
}

section {
    padding: 50px 0;
}

h3 {
    border-bottom: 3px dashed #39483A; 
    padding-bottom: 10px;
    text-transform: uppercase; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #39483A;
}

.table-wrapper {
    overflow-x: auto; /* This makes it scrollable horizontally */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

th, td {
    padding: 10px 15px;
    text-align: left;
    transition: background 0.3s;
}

th {
    background-color: #1F1F1F; 
    color: #7BA05B; 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

tr:hover {
    background-color: #262626; 
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #7BA05B; 
    color: #1F1F1F;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #638E47; 
}

footer {
    background-color: #1F1F1F;
    padding: 20px 0;
    border-top: 3px solid #39483A;
}

footer p {
    margin: 0;
    text-align: center;
    color: #A9A9A9;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Stacking boxes vertically on mobile */
    .status-boxes-container {
        flex-direction: column;
        align-items: center;
    }

    /* Adjusting box widths on mobile for better visibility */
    .cost-box, .usage-box, .api-status-box {
        width: 90%;
        margin-bottom: 20px;
    }

    /* Adjusting general container padding on mobile */
    .container {
        padding: 10px;
    }

    /* Adjusting navigation and footer padding on mobile */
    nav, footer {
        padding: 10px 0;
    }

    /* Adjusting section padding on mobile */
    section {
        padding: 20px 0;
    }

    /* Adjusting font sizes and padding for tables on mobile */
    table, th, td {
        font-size: 14px;
    }

    th, td {
        padding: 8px 12px;
    }

    /* Adjusting navigation heading size for mobile */
    nav h1 {
        font-size: 18px;
    }

    /* Handling table overflow on mobile for specific table wrappers */
    .cost-box .table-wrapper, .usage-box .table-wrapper {
        overflow-x: auto; /* This makes it scrollable horizontally */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    }

    /* Specific width adjustment for tables within the cost and usage boxes */
    .cost-box table, .usage-box table {
        min-width: 600px;
        width: 100%;
    }
}